:root{
    /*cores principais*/
    -cor-primaria:#380b61;
    -cor-secundaria:#59429d;
    -cor-hover:#ccbbff;
    -cor-fundo:#f0f8ff;
    -cor-formulario:#e6e6fa;
    -cor-focus:#e0e0f8;

    /*Espaçamnetos*/
    -espacameento-peequeno:0.5cm;
    -espacamento-medio:1cm;
    -espacamento-grande:1.5cm;

    /*Tamanho*/
    -tamanho-max-form:500px;
    -tamanho-max-main:600px;
    -raio-borda:10px;

}

